1. Functional Requirements

    - The phones communicate directly with eachother for tip/queue
    - Tip/queue works between at least 5 phones
    - Tip/queue between phones MUST work at 25 meters, but 100 meters is desired
    - Read GPS data
    - Detect if phone is moved from it's position, and react (50 meter "fence")

    - Read phone sensors accelerometer, magnetometer, e.t.c.
    
    - Send position to base station
    - Take Photos
    - Record Video
    - Record Audio
    - Connect and communicate with base station over wifi/cell   
    - The phones act independently from the base station for tip/queuing and send photos/events/e.t.c back to it
    - Configuration is done on the phones
    - Ability to set which sensor act as triggers
    - Trigger is sent to all phones in a group
    - Set what a phone does when it receives a trigger
    - "Master"/"Base Station" Provides a geophysical display 
    - continue to operate if 1 phone is compromised
    - Must run 24 hours without human intervention
    Nice to have:
    - Differentiate between animal/person/vehicle
    - Geodisplay = (ESRI/ARC-GIS)
    - Dashboard to manage devices on base station
    - Capability for multiple groups of phones (5 at one location, 5 at a second location)
    - API/connection to ESRI on base station
    - How do phones adjust if one phone goes missing?
    - How to react after geo-fence activated e.g. wipe phone, encrypt, send geo-location
    
